<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RecipesWithFunk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<connectionStrings>
		<add name="WorkInventoryDb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=Inventory;Integrated Security=True;Connection Lifetime=15;Min Pool Size=1;Max Pool Size=200;Connection Timeout=180;TrustServerCertificate=true;" />
		<add name="HomeInventoryDb" connectionString="Data Source=DESKTOP-VL36BD6\SQLEXPRESS;Initial Catalog=Recipe;Integrated Security=True;Connection Lifetime=15;Min Pool Size=1;Max Pool Size=200;Connection Timeout=180;TrustServerCertificate=true;" />
	</connectionStrings>
    <userSettings>
        <RecipesWithFunk.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="InitialCatalog" serializeAs="String">
                <value />
            </setting>
        </RecipesWithFunk.Properties.Settings>
    </userSettings>
</configuration>