################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RecipesWithFunk/FileContentIndex/3da963a6-5461-4097-9326-14bf8175e120.vsidx
/.vs/RecipesWithFunk/FileContentIndex/483eeadf-553e-4a55-a815-d4dc30488a85.vsidx
/.vs/RecipesWithFunk/FileContentIndex/82766fc8-9846-4383-9e3f-8f93c58ac1fc.vsidx
/.vs/RecipesWithFunk/FileContentIndex/88ed88ee-9040-4c88-92fa-27b8b7c0ce57.vsidx
/.vs/RecipesWithFunk/FileContentIndex/9d4c5e0c-fa26-48a7-aab0-0969286d6b05.vsidx
/.vs/RecipesWithFunk/FileContentIndex/c81714b2-a6a7-4ac9-8d65-51d21610c5e6.vsidx
/.vs/RecipesWithFunk/FileContentIndex/cf305eac-af49-4586-8e69-039ef9531811.vsidx
/.vs/RecipesWithFunk/FileContentIndex/e2015777-aa8d-4591-818e-3a44b247d542.vsidx
/.vs/RecipesWithFunk/FileContentIndex/e788cf3e-fcaa-4b6f-9063-452f59250bf7.vsidx
/.vs/RecipesWithFunk/FileContentIndex/f752686f-b376-4911-b933-31a4c752d971.vsidx
